{
  "db": {
    "testUserPassword": ""
  },
  "email": {
    "smtpPassword": ""
  },
  "ai": {
    "openai-gpt-3.5": {
      "key": ""
    },
    "openai-gpt-5": {
      "key": ""
    }
  }
}
